In [1]:
import requests
import pandas as pd
import time 
from datetime import datetime, timedelta

In [2]:
apiUrl = "https://api.pro.coinbase.com"
sym = "BTC-GBP"
barSize = "60" 
timeEnd = datetime.now()
delta = timedelta(seconds = int(barSize))
timeStart = timeEnd - (300*delta)
timeStart = timeStart.isoformat()
timeEnd = timeEnd.isoformat()

In [3]:
parameters = {
        "start" : timeStart,
        "end" : timeEnd,
        "granularity" : barSize
}

In [4]:
data = requests.get(f"{apiUrl}/products/{sym}/candles",
                    params = parameters,
                    headers = {"content-type" : "application/json"})

In [5]:
df = pd.DataFrame(data.json(),
                 columns = ["time", "low", "high", "open", "close", "volume"])

In [6]:
df["date"] = pd.to_datetime(df["time"], unit='s')

In [7]:
df = df[["date", "open", "high", "low", "close"]]

In [8]:
df.set_index("date", inplace = True)

The method below is useful if I wanted to aggregate the data into chunks of minutes, e.g. 2 'minutely' data. This is useful since the official coinbase api has fixed set time intervals.

In [9]:
# df = df.resample("2 min").agg({
#     "open" : "first",
#     "high" : "max", 
#     "low" : "min",
#     "close" : "last"})

In [10]:
df = df.dropna() #get rid of null data

In [11]:
df.head()

                         open      high       low     close
date
2022-02-02 07:23:00  28358.78  28358.78  28358.78  28358.78
2022-02-02 07:22:00  28347.13  28360.32  28341.15  28354.39
2022-02-02 07:21:00  28337.91  28341.99  28337.91  28341.99
2022-02-02 07:20:00  28340.35  28343.35  28337.54  28337.91
2022-02-02 07:19:00  28340.07  28347.05  28337.89  28339.47

In [12]:
df = df.iloc[::-1] # Want to reverse the order of the dataframe, so top row is the earliest time... better for plotting

In [13]:
df.to_csv("btc_data.csv")